[Unit]
Description=SnowLuma window manager
PartOf=snowluma.target
After=snowluma-xvfb.service
Requires=snowluma-xvfb.service

[Service]
Type=simple
User=snowluma
Group=snowluma
Environment=DISPLAY=:1
Environment=HOME=__QQ_HOME__
ExecStart=/usr/bin/fluxbox
Restart=always
RestartSec=2

[Install]
WantedBy=snowluma.target
